@media (min-width: 425px) {
    nav {
        .nav__logo {
            font-size: 32px;
        }
    }
    header {
        .header__title {
            font-size: 46px;
        }
    }
    section {
        .section__title {
            font-size: 36px;
        }
    }
}