*, *::before, *::after  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    font-family: 'Open sans', sans-serif;
}
nav {
    display: flex;
    flex-direction: row;
    .nav__logo {
        display: flex;
        color: #2a2a2a;
        padding: 1rem;
    }
    .nav__hamburger {
        padding: 10px;
        display: inline-block;
        cursor: pointer;
        background-color: transparent;
        border: none;
        margin: 0;
        transition: .25s;
        .hamburger__box {
            width: 35px;
            height: 35px;
            display: inline-block;
            position: relative;
            transition: .25s;
        }
    }
}