*, *::before, *::after  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    font-family: 'Open sans', sans-serif;
}
nav {
    .nav__logo {
        color: #2a2a2a;
        padding: 1rem;
    }
    .nav__hamburger {
        display: block;
        position: relative;
        top: 50px;
        left: 50px;
        z-index: 1;
        user-select: none;
        .nav__span {
            display: block;
            width: 33px;
            height: 4px;
            margin-bottom: 5px;
            position: relative;
        }
    }
}