*, *::before, *::after  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    font-family: 'Open sans', sans-serif;
}
nav {
    display: flex;
    flex-direction: row;
    .nav__logo {
        display: flex;
        color: #2a2a2a;
        padding: 1rem;
    }
}